@import '../../../styles/variables';

.sortAscDesc {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    span {
      color: $orange;
      transition: all 0.3s ease;
    }
    &:hover {
      span {
        color: darken($orange, 12%);
      }
    }
  }
}

.pagination {
  display: flex;
  width: 100%;
  grid-column: 1 / -1;
  gap: 10px;
  border-top: 1px solid rgba(20, 26, 38, 0.1);
  padding: 30px 0 0 0;
  li:first-child,
  li:last-child {
    display: none;
  }
  li {
    display: flex;
    &:hover {
      a {
        border-color: rgba(20, 26, 38, 0.5);
      }
    }
    a {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 6px;
      transition: all 0.3s ease;
      border: 1px solid rgba(20, 26, 38, 0.1);
    }
  }
  &__active {
    a {
      background: $black;
      color: white;
      border-color: $black;
    }
  }
}
